@font-face {
font-family: 'ProximaLt';
src: url('fonts/subset-ProximaNova-Light.eot');
src: url('fonts/subset-ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
url('fonts/subset-ProximaNova-Light.woff2') format('woff2'),
url('fonts/subset-ProximaNova-Light.woff') format('woff'),
url('fonts/subset-ProximaNova-Light.ttf') format('truetype');
font-weight: 300;
font-style: normal;
}

@font-face {
font-family: 'ProximaRg';
src: url('fonts/subset-ProximaNova-Regular.eot');
src: url('fonts/subset-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
url('fonts/subset-ProximaNova-Regular.woff2') format('woff2'),
url('fonts/subset-ProximaNova-Regular.woff') format('woff'),
url('fonts/subset-ProximaNova-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'ProximaBo';
src: url('fonts/subset-ProximaNova-Bold.eot');
src: url('fonts/subset-ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
url('fonts/subset-ProximaNova-Bold.woff2') format('woff2'),
url('fonts/subset-ProximaNova-Bold.woff') format('woff'),
url('fonts/subset-ProximaNova-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: 'ProximaBl';
src: url('fonts/subset-ProximaNova-Black.eot');
src: url('fonts/subset-ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
url('fonts/subset-ProximaNova-Black.woff2') format('woff2'),
url('fonts/subset-ProximaNova-Black.woff') format('woff'),
url('fonts/subset-ProximaNova-Black.ttf') format('truetype');
font-weight: 900;
font-style: normal;
}

@font-face {
font-family: 'ProximaTh';
src: url('fonts/subset-ProximaNova-Extrabld.eot');
src: url('fonts/subset-ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
url('fonts/subset-ProximaNova-Extrabld.woff2') format('woff2'),
url('fonts/subset-ProximaNova-Extrabld.woff') format('woff'),
url('fonts/subset-ProximaNova-Extrabld.ttf') format('truetype');
font-weight: 800;
font-style: normal;
}

html, body, section{
	overflow-x: hidden;
	font-family: 'ProximaRg', sans-serif;
}

#logo{
	width: 50px;
	margin: 20px auto;
}

#main{
	height: 100vh;
	background: #23afff url('../img/city.svg') center no-repeat;
	background-size: cover;
	color: #fff;
	font-weight: 500;
}

.header{
	font-family: 'ProximaTh', sans-serif;
	margin: 25px auto;
}

#mainHeader{
	height: 74vh;
	text-shadow: 0 4px 10px rgba(0,0,0,.2);
}

.flex-both{
	display: flex;
	align-items: center;
}

#down{
	width: 26px;
	cursor: pointer;
}

#history{
	margin: 25px 0;
}

#imgHistory, #textHistory{
	width: calc(50% - 40px);
	flex: 0 0 calc(50% - 40px);
	margin: 0 20px 25px;
}

#imgHistory>img{
	width: 100%;
	border-radius: 16px;
	box-shadow: 0 6px 10px rgba(0,0,0,.1);
}

.mainText{
	margin: 0 auto;
	font-size: 18px;
}

#advItemContainer{
	flex-wrap: wrap;
}

.advItem{
	flex: 0 0 22%;
	margin: 15px 1.5%;
	width: 22%;
	float: left;
	text-align: center;
}

.advItem>img{
	width: 100px;
	display: block;
	margin: auto;
}

.advHeader{
	margin: 15px auto 0;
	font-family: 'ProximaBo', sans-serif;
	font-size: 20px;
}

#advantages{
	margin: 0 0 40px;
}

#invest{
	background: #23afff url('../img/invest.jpg') center no-repeat;
	background-size: cover;
	color: #fff;
	font-weight: 500;
}

#investContainer{
	flex-wrap: wrap;
	height: auto;
	text-align: center;
	text-shadow: 0 4px 10px rgba(0,0,0,.2);
	margin: 10px 0 30px;
}

#investContainer .advHeader{
	font-family: 'ProximaRg', sans-serif;
	text-align: left;
}

#more{
	margin: 40px auto 0;
	background: transparent;
	font-family: 'ProximaBo', sans-serif;
	color: #fff;
	padding: 12px 60px;
	font-size: 16px;
	border: 2px #fff solid;
	border-radius: 99px;
	cursor: pointer;
}

#more:hover{
	background: #fff;
	color: #000;
}

#contactUs{
	margin: 25px 0;
}

form{
	width: 100%;
	max-width: 500px;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}

form input, textarea{
	margin: 10px auto 0;
	background: transparent;
	color: #000;
	padding: 10px 20px;
	font-size: 16px;
	border: 2px #000 solid;
	border-radius: 10px;
	width: 100%;
}

#sendForm{
	margin: 10px auto 0;
	background: transparent;
	font-family: 'ProximaBo', sans-serif;
	color: #000;
	padding: 12px 60px;
	font-size: 16px;
	border: 2px #000 solid;
	border-radius: 99px;
	cursor: pointer;
}

#copyright{
	background: #000033;
	color: #fff;
}

#copyright .col-12{
	margin: 25px 0;
	float: left;
}




/*  MEDIA*/

@media (max-width: 768px) {
	#textHistory, #imgHistory{
		width: calc(100% - 40px);
		flex: 0 0 calc(100% - 40px);
	}

	#history .flex-both{
		flex-wrap: wrap;
	}

	.advItem{
		flex: 0 0 46%;
		margin: 15px 2%;
		width: 46%;
	}
}

@media (max-width: 576px) {
	.advItem{
		flex: 0 0 90%;
		margin: 15px 6%;
		width: 90%;
	}
	#copyright .col-12{
		text-align: center!important;
	}
	.header{
		font-size: 2rem;;
	}
}